.login {
  color: white;
  margin: auto;
  padding: 50px;
}

.login input[type="text"] {
  background: transparent;
  border: 1px auto white;
  border-radius: 50px;
  color: white;
}

#login-submit {
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
  width: 160px;
  border-radius: 50px;
  box-shadow: 0 0 20px white;
  color: white !important;
}

#login-more-actions {
  display: flex;
  flex-direction: column;
  font-family: 'Borel', cursive;
  margin: auto;
  align-items: center;
}
