<div class="navbar d-flex navbar-expand-sm navbar-light navbar-lewagon">
  <%= form_with url: books_path, method: :get, class: "d-flex", id: "search-final" do %>
      <%= text_field_tag :query,
            params[:query],
            id: "search-input",
            placeholder: ""
        %>
      <button type="submit" id="magnify"><i class="fa-solid fa-magnifying-glass"></i></button>
    <% end %>
  </div>
</div>
