<h1>Borrowing Page</h1>
<p>Find me in app/views/pages/borrowing.html.erb</p>
<% @bookings.each do |booking| %>
<%= booking.book.title %>
<% end %>

<div class="container">
  <div class="d-flex flex-wrap center-margin mb-3">
    <% @bookings.each do |booking| %>
      <div class="card-book mx-2 my-3">
        <%= link_to book_booking_path(booking.book_id, booking.id), class: "h-100 w-100" do %>
        <%# Needs to be updated with cl_image_tag (cloudinary) %>
          <div class="card-containerr">
            <div class="cover"></div>
            <%# <p class="card-title fw-bold mt-2"><%= booking.book_id[:title.truncate(23) %></p>
            <%# <p class="card-text m-0">🖋 <%= booking.book_id.author.truncate(13) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
