<h1>Books#index</h1>
<% @books = Book.all %>
  <div class="row">
    <% @books.each do |book| %>
      <div class="container">
        <%= link_to book_path(book), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in">
            <%= book.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

