<link rel="stylesheet" href="css/style.css">

<h1>Books#index</h1>
<div class="container">
  <% @books = Book.all %>
  <% @books.each do |book| %>
    <div class="card-book">
      <%= link_to book_path(book), class:"text-decoration-none" do %>
      <div class="card-category" data-aos="zoom-in">
      <%= book.title %>
      <% end %>
    </div>
      <% end %>
</div>
<div class="book-see">
<%= link_to "Add a new Book!", new_book_path, class:"btn btn-warning" %>
</div>
