<link rel="stylesheet" href="css/style.css">

<h1>Bookshelf</h1>

<div id="bookshelf">
  <% @books = Book.all %>
  <% @books.each do |book| %>
      <div class="card-book">
        <%= link_to book_path(book) do %>
        <div class="card-category" data-aos="zoom-in">
          <h5><%= book.title %></h5>
          <h6><%= book.author %></h6>
          <% end %>
        </div>
      </div>
  <% end %>
</div>

<div id="btn-add-book">
  <%= link_to "AddaBook!", new_book_path %>
</div>
