<link rel="stylesheet" href="css/style.css">

<h1>Books#index</h1>

<div class="container">
  <% @books = Book.all %>
  <% @books.each do |book| %>
    <div class="card-book">
      <%= book.name %>
      <%= book.author %>
    </div>
   <% end %>
  <p>This should display the landing page for all users visiting our site, with a list of all sorts of books.</p>
</div>
