<h1>Books#show</h1>
<div>
<h5>Title:</h5>
<p><%= @book.name %></p>
<h5>Author: </h5>
<p><%= @book.author %></p>
</div>

<div class="btn btn-warning"><%= link_to "Book this Book" %></div>
<div class="card-body p-1 m-2">
    <%= link_to "Back to books", root_path %>
  </div>
