.book-see {
  margin: auto;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
  width: 160px;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
}

.book-see a {
  color: white;
  text-decoration: none;
}

.book-see a:hover {
  font-style: italic;
}
