// .icon {
//   font-size:
// }

.footer {
  background-color: black;
  // box-shadow: 0px -3px 3px white;
  margin-top: 30px;
  position: sticky;
  bottom: 0;
  // height: 100px;
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: white;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 20px;
}

.fa-solid {
  font-size: 25px;
  // background: -moz-linear-gradient(top, white 0%, white 100%);
  // background: -webkit-linear-gradient(top, #CDC6A5 0%, #white 100%);
  // background: linear-gradient(to top right, #CDC6A5 0%, #6F9283 100%);
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: white
}

#menu {
  font-size: 30px;
  // background: -moz-linear-gradient(top, #6F9283 0%, #CDC6A5 100%);
  // background: -webkit-linear-gradient(top, #6F9283 0%, #CDC6A5 100%);
  // background: linear-gradient(to top right, #6F9283 0%, #CDC6A5 100%);
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: white
}
