// Banner - Logo, Welcome, Login
.navbar {
  justify-content: space-between;
  background: white;
  margin-bottom: 30px;
  box-shadow: 0px 3px 3px white;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}

.btn-search {
  background: transparent;
  color: black;
  border-radius: 20%;
  border-color: grey
}

.form-control {
  background: transparent;
  
}

// .navbar-toggler,
// .navbar-collapse,
// .navbar-toggler:active {
//   box-shadow: none;
//   border: none;
//   outline: none;
// }
