// Banner - Logo, Welcome, Login
.navbar {
  justify-content: space-around;
  background: black;
  margin-bottom: 50px;
  margin-top: 10px;
  box-shadow: 0px 3px 3px black;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}

.btn-search {
  background: transparent;
  color: white;
  border-radius: 20%;
  border-color: white
}

.form-control {
  background: transparent;
}

// .navbar-toggler,
// .navbar-collapse,
// .navbar-toggler:active {
//   box-shadow: none;
//   border: none;
//   outline: none;
// }
