// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import "config/utilities";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Your Google fonts
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Noto+Serif+Vithkuqi&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Rajdhani&display=swap');

p {
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  text-align: center;
  // font-weight: bold;
  font-size: 40px;
  color: white;
  font-style: 'Borel', cursive;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: white;
}

body {
  background-color: black;
}

h5, h6 {
  color: white;
}

a {
  text-decoration: none;
}

.alert-info {
  border-radius: 15px;
  background: white;
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

.alert-warning {
  border-radius: 15px;
  background: rgb(91, 27, 27);
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}
